{% extends "::base.html.twig" %}
{%block navigation%}
    <div>{{render(controller('EcommerceBundle:Public:menu'))}}</div>
{%endblock%}
{%block body%}
{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<p>
{{ 'resetting.check_email'|trans({'%email%': email}) }}
</p>

{% endblock %}
{%endblock%}